@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');

body{
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto ;  
  padding: 0;
  text-decoration: none;

}


a{
  margin-top: 20px;
  color:#ffff;
  text-decoration: none;
  justify-items: center;
  justify-content: center;

}

h3,h2{
    color:  rgb(247, 202, 90);
  text-decoration: none;
  justify-items: center;
  justify-content: center;
}

.container{
  width: 100%;
  height: 100%;
  text-decoration: none;

}




.MenuPrincipal{
width: 100%;
height: 60%; 
display: flex;
justify-content: space-evenly;
background-color: #126bf0;
/* padding: 5px; */
text-decoration: none;
text-align: center; 
color: #fff;


}


#content{
  margin: 10px;
  text-align: center;
}
p{
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
figure{
  background-image: url(Imagenes/carrito3.jpg);
  min-height: 100px;
  width:100%;/**/
  min-width: 600px;
  background-position: 50%;/**/
  background-size: cover;
  margin:0px;/**/
  text-align: center;/**/
  line-height: 200px;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
}

 /* .Segundario{
 border-top: 2em solid #ccc;
  border-right: 3.4641em solid transparent;
  border-left: 3.4641em solid transparent;
   width: 90%;
  height: 100%;


} */

.boton-segundario{
    width: 100px;
    height: 40px;
   
    color:#fff;
    background-color: rgb(247, 202, 90);
    border:0;
    border-radius: 30px;
    justify-content:center;
    align-items: center;

}





  .Servicios{
    width: 100%;
    height: 350%;
    background-color: #126bf0;
    grid-gap: 5px;
    display: flex;
    justify-content: space-evenly;

  }

  .muestra{
      width: 100%;
      height: 300%;
     display: flex;
  }
  
.title {
    font-weight: 100%;
    background: whitesmoke;
    justify-content:center;
    text-align: center;
    align-items: center;

}

/* .links {
    font-weight: 100%;
    font-size: 1.125rem;
    background: whitesmoke;
;
} */

.card-modelo {
    width: 20%;
    height: 100%;
    margin: 20px;
    background: whitesmoke;

}

.card-img-top{
  width: 100%;
  height: 100%;
  display: inline-block;
  display: block;
  flex-direction: column;
     display: flex;
}


.card{
    width: 100%;
    height: 350%;
    display:flex;
    background-color: #fff;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    text-overflow: ellipsis;
    display: inline-block;

}


.Equipo{
    width: 100%;
    height: 7cm;
    display:grid;
    grid-template-columns: repeat(2, auto);
    background-color: #126bf0;
    text-align: center;


}


.perfil {

  display: flex;
  justify-content: space-evenly;


}



.container-perfil h1 {
  font-weight: 700;
  font-size: 16px;
  

}

.container-perfil h2 {
  font-weight: 400;
  font-size: 24px;
  
}

.perfil-usuario {
  border-radius: 460px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  max-width: 160px;
  width: 200px;
	padding: 25px 0;
	margin: 0;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}






.site-footer
{

  background-color:  rgb(247, 202, 90);
  padding:75px 0 80px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}



.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;

}

.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
